{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/calender.css'%}" />
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'style.css'%}" />
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/magento.css'%}" />
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/carousel.min.css'%}" />
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/bootstrap-tiny.css'%}" />
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/styles.css'%}" />
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/loyaloptician.css'%}" />
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/storelocator.css'%}" />
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 768px)" href="{% static 'css/styles-l.css'%}" />
    <link rel="stylesheet" type="text/css" media="print" href="{% static 'css/print.css'%}" />
    <script type="text/javascript" src="{% static 'js/require.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/mixins.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/requirejs-config.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/polyfill.js"></script>
    <script type="text/javascript" src="{% static 'js/pippin.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/custom_storelocator.js'%}"></script>
    <link rel="canonical" href="#/aboutus/" />

    <script src="{% static 'js/jquery.min.js'%}"></script>

    <script src="{% static 'js/bootstrap.js'%}"></script>


    <script src="{% static 'js/owl.carousel.min.js'%}"></script>

    <script src="{% static 'js/wow.js'%}"></script>

    <script src="{% static 'js/scrollspy.js'%}"></script>


    <link rel="stylesheet" type="text/css"
        href="{% static 'css/bootstrap-theme.min.css'%}">
    <link rel="stylesheet" type="text/css"
        href="{% static 'css/bootstrap.css'%}">

    <link rel="stylesheet" type="text/css"
        href="{% static 'css/font-awesome.min.css'%}" />

    <link rel="stylesheet" type="text/css"
        href="{% static 'css/owl.carousel.min.css'%}" />

    <link rel="stylesheet" type="text/css"
        href="{% static 'css/jquery.mCustomScrollbar.css'%}" />

    <link rel="stylesheet" type="text/css"
        href="{% static 'css/animate.css'%}" />

        <script src="{% static 'js/main.js'%}"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-598476150"></script>
    <script type="text/javascript">
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '249145339934973');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=249145339934973&ev=PageView&noscript=1" /></noscript>

    <script
        type="application/ld+json">{"@context":"http:\/\/schema.org","@type":"WebSite","url":"https:\/\/www.gkboptical.com\/"}</script>
    <script
        type="application/ld+json">{"@context":"http:\/\/schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","item":{"@id":"https:\/\/www.gkboptical.com\/aboutus","name":"About Us"},"position":1}]}</script>
    <script
        type="application/ld+json">{"@context":"http:\/\/schema.org\/","@type":"WebPage","speakable":{"@type":"SpeakableSpecification","cssSelector":[".cms-content"],"xpath":["\/html\/head\/title"]}}</script>
</head>
